@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #0076ce;
  --redtitle: #1a1a1a;
  --title: #1a1a1a;
  --subtitle: #666666;
  --black: #3A3335;
  --white: #fff;
  --blue: #0B1D51;
  --grey: #575761;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

body {
  color: #000;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.app {
  margin: 0;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 524px) {

  html,
  body {
    overflow-x: hidden !important;
  }
}